.profile__fullname {
  margin: 0 auto 0 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 850px) {
  .profile__fullname {
    margin-left: 15px;
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .profile__fullname {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__fullname {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 250px;
  }
}